<template>

<footer>
  <h2>Copyright reserved alphacpc</h2>
</footer>

</template>

<script>
export default {
    name: "Footer"
}
</script>

<style>
  Footer{
      background: rgb(10, 62, 92);
      padding: 40px;
  }
  Footer h2{
    color: white;
    text-align: center;
    letter-spacing: 1px;
  }

  @media screen {
    Footer h2{
      font-size: 16px;
      font-weight: 500;
    }
  }

</style>